h1{
   
    text-align: center;
    
    
}
body {
    background-color: rgb(173, 173, 173);
    border-style: solid ;
    border-color: rgb(0, 0, 0) ;
}
h2{

background: rgb(119, 119, 119);



}
img{
    position: absolute;
    left: 900px;
    top: 120px;
    border: double 5px ;
}
